/* Custom Styling */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

header {
  background: url('back.jpg') center/cover no-repeat;
  color: rgb(211, 210, 212);
  padding: 5rem 0;
}



header p {
  color: #f8f9fa;
}

.card img {
  object-fit: cover;
}

footer {
  font-size: 0.9rem;
}
